.madLibsEdit {
    background-color: #eee;
}

.display-3 {
    text-shadow: 5px 5px 10px #ccc;
    color: whitesmoke;
}

body {
    background-image: url('https://c4.wallpaperflare.com/wallpaper/761/42/416/sherlock-holmes-sherlock-hd-wallpaper-preview.jpg');
    background-repeat: no-repeat;
}

footer {
    color: #000 !important;
    background-color: #eee;
}